- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
.container
  section#broker
    .row
      .span16.breadcrumbs
        a(href="#/containers") Containers
        |  / 
        a(href="#/containers/details/#{id}") #{id}
    .row
      .span16.columns
        .block.left
          a.add-profile.btn(href="#") Add Profiles
        .block.right
          a.osgi.btn.hide(href="#") OSGi
          a.camel.btn.hide(href="#") Routes
          a.mq.btn.hide(href="#") Message Broker
    .row
      .span8.columns.detailsBlock
        table.overviewSection
          thead
            tr
              th.center Profiles
          tbody
            tr
              td
                .edit-list
      .span8.columns.detailsBlock
        table.overviewSection
          tr
            td
              strong Name:
            td.less-big
              #{id}            
          tr
            td
              strong Status:
            td
              #{if alive then "online" else "offline"}
          - if !ensemble_server
            tr
              td
                strong Provision Status:
              td(style="wrap: normal;") #{provision_status}
    .row.jvm-overview
    .row
      .span16.provision-exception.detailsBlock
      
