- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
.feature-detail
- if error?
  .alert-message.block-message.error(style="margin-top: 18px") 
    strong Error fetching features repository: 
    | #{error}
- else if features?
  h5 Repository Name: #{features.name}
  - if features.repository?
    h6 Feature Repositories
    table.zebra-striped.repo-list
      thead
        tr
          th Name
          th
      tbody
        - for r in features.repository
          tr
            td #{r}
            td
              .block.right
                - if !_.any(installed_repos, (repo) -> r == repo)
                  a.add-repo(id="add#{r}" href="#" title="Add Feature Repository")
                    img(src="img/plus-16.png")

  - if features.feature?
    h6 Features
    table.zebra-striped
      thead
        tr
          td(style="border-top: none")
            strong Name
          td(style="border-top: none")
            strong Version
          td(style="border-top: none")
            strong Description
          td(style="border-top: none")
      tbody
        - for f in features.feature
          tr(id="#{f.name}" class="feature")
            td #{f.name}
            td #{f.version}
            - if f.description?
              td #{f.description}
            - else
              td
            td
              .block.right
                a.view-feature(id="view#{f.name}" href="#" title="View Feature")
                  img(src="img/search-16.png")
                &nbsp;
                - if !_.any(installed_features, (feature) -> f.name == feature)
                  a.add-feature(id="add#{f.name}" href="#" title="Add Feature")
                    img(src="img/plus-16.png")
- else
  .alert-message.block-message.info(style="margin-top: 18px") Nothing defined...
          
