- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
table.overviewSection
  tr
    td
      strong Client ID:
    td(colspan="3")
      #{client_id}
  tr
    td
      strong Connection ID:
    td(colspan="3")
      #{connection_id}
  tr
    td
      strong Subscription ID:
    td
      #{subscription_id}
    td
      strong Session ID:
    - if typeof(session_id) != "undefined"
      td
        #{session_id}
    - else
      td
  tr
    td
      strong Messages Dequeued:
    td(colspan="3")
      #{dequeue_counter}
  tr
    td
      strong Prefetch Size:
    td
      #{prefetch_size}
    td
      strong Pending Queue Size:
    td
      #{pending_queue_size}
  tr
    td
      strong Dispatched Queue Size:
    td
      #{dispatched_queue_size}
    td
      strong Messages Dispatched:
    td
      #{dispatched_counter}
  tr
    td
      strong Cursor Size:
    td
      #{cursor_size}
    td
      strong Cursor Full:
    td
      #{cursor_full}
  tr
    td
      strong Cursor Memory Usage:
    td
      #{as_memory(cursor_memory_usage)}
    td
      strong Cursor Percent Usage:
    td
      #{cursor_percent_usage}%
  tr
    td
      strong Exclusive:
    td
      #{exclusive}
    td
      strong Retroactive:
    td
      #{retroactive}
  tr
    td
      strong Slow Consumer:
    td
      #{slow_consumer}
    td
      strong No Local:
    td
     #{no_local}
  

