-# Copyright (C) 2010-2012, FuseSource Corp.  All rights reserved.
-# 
-#     http://fusesource.com
-# 
-# The software in this package is published under the terms of the
-# CDDL license a copy of which has been included with this distribution
-# in the license.txt file.

- import it._
- val helper = new org.apache.activemq.apollo.web.resources.ViewHelper
- import helper._

.breadcumbs
  a(href={strip_resolve("..")}) Back

p state: #{state} #{ uptime(state_since) } ago

- if( state == "STARTED" )
  form(method="post" action={path("action/delete")})
    input(type="submit" value="shutdown")

p local address: #{local_address}
p remote address: #{remote_address}
p protocol: #{protocol}
p protocol version: #{protocol_version}
p transport: #{transport}
p read counter: #{memory(read_counter)}
p write counter: #{memory(write_counter)}
p last read size: #{memory(last_read_size)}
p last write size: #{memory(last_write_size)}
p user: #{user}
p waiting on: #{waiting_on}
p subscription count: #{subscription_count}
