- ###

 Copyright 2010 Red Hat, Inc.

 Red Hat licenses this file to you under the Apache License, version
 2.0 (the "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 implied.  See the License for the specific language governing
 permissions and limitations under the License.

- ###
table.overviewSection
  tr
    td
      strong Queue Name:
    td(colspan="3")
      #{name}
  tr
    td
      strong Memory Limit:
    td
      #{as_memory(memory_limit)}
    td.right
      strong Memory Usage:
    td
      #{memory_percent_usage}%
  tr
    td
      strong Producer Count:
    td
      #{producer_count}
    td.right
      strong Consumer Count:
    td
      #{consumer_count}
  tr
    td
      strong Max Enqueue Time :
    td
      #{duration(max_enqueue_time)}
    td.right
      strong Min Enqueue Time:
    td
      #{duration(min_enqueue_time)}
  tr
    td
      strong Average Enqueue Time:
    td(colspan="3")
      #{duration(average_enqueue_time)}
  tr
    td
      strong Enqueue count:
    td(colspan="3")
      #{enqueue_count}
  tr
    td
      strong Dequeue count:
    td(colspan="3")
      #{dequeue_count}
  tr
    td
      strong Dispatch Count:
    td(colspan="3")
      #{dispatch_count}
  tr
    td
      strong Inflight Count:
    td
      #{in_flight_count}
    td.right
      strong Max Page Size:
    td
      #{max_page_size}
  tr
    td  
      strong Cursor Memory Usage:
    td
      #{as_memory(_cursor_memory_usage)}
    td.right
      strong Cursor Percent Usage:
    td
      #{_cursor_percent_usage}
  tr
    td
      strong Cursor Full:
    td
      #{_cursor_full}
    td.right
      strong Does Cursor Have Space:
    td
      #{does_cursor_have_space}
  tr
    td
      strong Messages Buffered:
    td
      #{does_cursor_have_messages_buffered}
    td.right
      strong Cursor Size:
    td
      #{cursor_size}
  tr
    td
      strong Use Cache:
    td
      #{use_cache}
    td.right
      strong Producer Flow Control:
    td
      #{producer_flow_control}
  
